<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/ef4342f3da.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <nav th:fragment="admin-navbar"
             class="w-48 border-0 border-r-2 border-r-black bg-violet-300
                    lg:-z-0 lg:flex lg:flex-col
                    "
        >

            <ul class="flex flex-col h-3/4 justify-evenly">
                <li>
                    <a th:href="@{/admin/homepage}" class="block pl-5 hover:cursor-pointer hover:bg-violet-200">
                        My Team
                    </a>
                </li>
                <li>
                    <a th:href="@{/welcome}" class="block pl-5 hover:cursor-pointer hover:bg-violet-200">
                        Welcome
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/new/employees}" class="block pl-5 hover:cursor-pointer hover:bg-violet-200">
                        Create New Employee
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/view/employees}" class="block pl-5 hover:cursor-pointer hover:bg-violet-200">
                        View Employees
                    </a>
                </li>
                <form th:action="@{/logout}" method="post" class="relative -bottom-44 w-full flex justify-center justify-items-center">
                    <button type="submit" class="px-8 py-2 rounded-full bg-black text-white text-sm
                    hover:text-black hover:bg-violet-300 hover:border hover:border-black">Logout</button>
                </form>
            </ul>
        </nav>

    </body>
</html>