<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="../register.css">
        <script src="https://kit.fontawesome.com/ef4342f3da.js" crossorigin="anonymous"></script>
        <!--    <script src="https://cdn.tailwindcss.com"></script>-->
    </head>
    <body>

        <nav th:fragment="welcome-navbar">
            <ul>
                <li>
                    <a th:href="@{'/' + ${role} + '/homepage'}">
                        Home
                    </a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </body>
</html>