<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/output.css}" href="/tma/src/main/resources/static/css/register.css" />

</head>
<body>

<nav>
    <ul>
        <li>
            <a th:href="@{/admin/homepage}">
                Home
            </a>
        </li>
        <li>
            <a th:href="@{/welcome}">
                Page 1
            </a>
        </li>
        <li>
            <form th:action="@{/logout}" method="post" >
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>

<main class="container mx-auto px-4 justify-center md:w-10/12">
    <h1 class="text-center">Create a new employee</h1>

    <form class="w-full max-w-lg mb-3 justify-center">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="firstName">
                    First Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="firstName" name="firstName" type="text" placeholder="Jane" required>
            </div>

            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="lastName">
                    Last Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="lastName" name="lastName" type="text" placeholder="Doe" required>
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="role">
                    Role
                </label>

                <div class="relative">
                    <select class="block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-pointer" id="role">
                        <option>Admin</option>
                        <option>Manager</option>
                        <option>Employee</option>
                    </select>
                </div>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="department">
                    Department
                </label>

                <div class="relative">
                    <select class="block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-pointer" id="department">
                        <option>HR</option>
                        <option>Finance</option>
                        <option>Sales</option>
                    </select>
                </div>
            </div>
        </div>

        <input type="submit" value="Create" class="w-full md:w-full p-1 bg-blue-600 text-white rounded-md">





    <!-- <form class="w-full max-w-lg mb-3 justify-center">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="firstName">
                    First Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="firstName" name="firstName" type="text" placeholder="Jane" required>
            </div>

            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="lastName">
                    Last Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="lastName" name="lastName" type="text" placeholder="Doe" required>
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="role">
                    Role
                </label>

                <div class="relative">
                    <select class="block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-pointer" id="role">
                        <option>Admin</option>
                        <option>Manager</option>
                        <option>Employee</option>
                    </select>
                </div>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="department">
                    Department
                </label>

                <div class="relative">
                    <select class="block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-pointer" id="department">
                        <option>HR</option>
                        <option>Finance</option>
                        <option>Sales</option>
                    </select>
                </div>
            </div>
        </div>

        <input type="submit" value="Create" class="w-full md:w-full p-1 bg-blue-600 text-white rounded-md"> -->

    <!--    <label for="firstName">First Name:</label>-->
    <!--    <input type="text" name="firstName" id="firstName">-->
    <!--    <br>-->
    <!--    <label for="lastName">Last Name:</label>-->
    <!--    <input type="text" name="lastName" id="lastName">-->
    <!--    <br>-->
    <!--    <label for="role">Employee's Role:</label>-->
    <!--    <input type="text" name="role" id="role">-->
    <!--    <br>-->
    <!--    <label for="department">Department</label>-->
    <!--    <input type="text" name="department" id="department">-->
    <!--    <input type="submit" value="Create">-->
    </form>
</main>

<!--TODO: need to add functionality to the form-->

</body>
</html>