<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update Employee</title>
    </head>
    <body>

        <nav th:replace="~{fragments/admin-navbar-fragment :: admin-navbar}"></nav>

        <h1 th:text="*{employee.id}" id="employeeId"></h1>
        <h1 th:text="*{employee.firstName}"></h1>
        <h1 th:text="*{employee.lastName}"></h1>
        <h1 th:text="${employee.project}"></h1>
        <p> This is the page for updating details</p>

        <form>
            <!-- Include a hidden input field to override the HTTP method to PATCH -->
            <input type="hidden" name="_method" value="PATCH"/>

            <div>
                <label for="firstName">First Name</label>
                <input id="firstName" name="firstName" type="text" th:value="*{employee.firstName}" required>
            </div>

            <div>
                <label for="lastName">Last Name</label>
                <input id="lastName" name="lastName" type="text" th:value="*{employee.lastName}" required>
            </div>

            <div>
                <label for="role">Role</label>
                <select id="role" name="role">
                    <option th:value="${employee.role}" th:text="${employee.role}"></option>
                </select>
            </div>

            <div>
                <label for="department">Department</label>
                <select id="department" name="department">
                    <option th:value="HR" th:text="HR" th:selected="${'hr' == #strings.toLowerCase(employee.department)}"></option>
                    <option th:value="Finance" th:text="Finance" th:selected="${'finance' == #strings.toLowerCase(employee.department)}"></option>
                </select>
            </div>

            <div>
                <label for="project">Project</label>
                <select id="project" name="project">
                    <option th:value="Unassigned" th:text="Unassigned" th:selected="${'unassigned' == #strings.toLowerCase(employee.project)}"></option>
                    <option th:value="Attendance" th:text="Attendance" th:selected="${'attendance' == #strings.toLowerCase(employee.project)}"></option>
                </select>
            </div>

            <input type="submit" value="Update" class="btn">
            <!--cancel form button-->
            <a type="button" th:href="@{/admin/view/employees/{id}(id = ${employee.id})}" class="btn">Cancel</a>
        </form>

    </body>
</html>