<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}" />
</head>
<body class="custom-bg">

<nav>
    <ul>
        <li>
            <a th:href="@{/admin/homepage}">
                Home
            </a>
        </li>
        <li>
            <a th:href="@{/welcome}">
                Welcome
            </a>
        </li>
        <li>
            <a th:href="@{/admin/new/employees}">
                Create New Employee
            </a>
        </li>
        <li>
            <form th:action="@{/logout}" method="post" >
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>

<h1>Admin homepage</h1>
<h2>Welcome,</h2>
<h3 th:text="${employee.getFirstName()} + ' ' + ${employee.getLastName()}">Name</h3>
<img th:src="@{/static/images/hello.png}"/>

</body>
</html>