@tailwind base;
@tailwind components;
@tailwind utilities;


/* Sidebar hidden on small screens */
.sidebar-hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

/* Sidebar visible on small screens */
.sidebar-flex {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

 /* On smaller screens, sidebar full screen */
@media screen and (max-width: 1024px) {
    .sidebar-flex {
        width: 100vw;
        height: 100vh;
    }
}

.card {
    padding: 2rem;
    border: 1px solid rgb(75,82,92);
    border-radius: 10px;
    background-color: #222429;
    text-align: center;
}

.grid-container {
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(3, 1fr);
}




/*@media screen and (min-width: 1024px) {*/
/*    .sidebar-hidden {*/
/*        animation-duration: 1s;*/
/*    }*/

/*    .sidebar-flex {*/
/*        animation-duration: 1s;*/
/*        animation-timing-function: linear;*/
/*    }*/

/*}*/

