

* {
    color: aqua;
}

nav ul li, nav ul li form {
    display: inline;
    padding: 10px 10px;
}

.custom-bg {
    background-color: deeppink;
}

body {
    background-color: deeppink;
}

img {
    width: 25%;
    height: 50%;
}